* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
}

body {
    background-color: #f0f0f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 90vw;
    overflow: hidden;
}

.certificate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 90%;
    width: 90%;
}

.certificate-border {
    width: 1200px;
    height: 790px;
    padding: 30px;
    background: #fff;
    border: 6px solid #003366;
    border-radius: 15px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.certificate-content {
    padding: 20px;
    border: 1px solid #003366;
    text-align: center;
    flex-grow: 1;
    height: 710px;
}

.certificate-header {
    margin-bottom: 40px;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.certificate-header h1 {
    font-size: 48px;
    color: #003366;
    margin-bottom: 10px;
}

.certificate-header p {
    font-size: 24px;
    color: #333;
}

.certificate-body {
    margin: 50px 0;
}

.recipient-name {
    font-size: 36px;
    font-weight: bold;
    color: #003366;
    margin: 10px 0;
}

.course-title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin: 15px 0;
    font-style: italic;
}

.course-duration {
    font-weight: bold;
    color: #003366;
}

.certificate-footer {
    margin-top: 50px;
}

.certificate-footer p {
    font-size: 20px;
    color: #555;
}

.signature {
    margin-top: 50px;
    text-align: center;
}

.signature p {
    color: #333;
    font-size: 20px;
}

orm.hide-when-pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

button.btn-primary {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #003366;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn-primary:hover {
    background-color: #001f33;
}